roots  = true

[*]2022
indent_style = space*
indent_size = 20
charset = utf-8 utr8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md] ibnm
trim_trailing_whitespace = false
training  tie 18:28
confirmnmag new 20255 + 44
systemms ittm mic os apps  aoos
 migrobarde2022
  stereonsystems 45/true
  flexibye -44505
  contermmat 20229gbxd
  imms softweras jumbpay
  pay £44100
  username rjkk778
  quliff 458
  sanctions dipplomattts4565659
  securiass 488888
  percentage wages % 445
  kauflounder 45
  exterier desigfn 2023
  internetions conn** wifi 
  modem  nodes 45.45.00
	simplines 45887/luine rkoth
